<nav class="navbar  sticky-top navbar-expand-lg    navbar sticky-top navbar-nav-scroll">
  <div class="container">
      <a class="navbar-brand" href="#"><h4>Navbar</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><h4>Business</h4></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"> <h4>Sport</h4></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><h4>Culture</h4></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><h4>Contact</h4></a>
              </li>


          </ul>
          <!--      <form class="d-flex">-->
          <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
          <!--      </form>-->
      </div>
  </div>
</nav>

<div class="myheader container-fluid">
  <div class="container content-header ">
  <div class="row">
      <div class="col-sm-6 col-sm-4 col-sm-6 my-5">
        <h3>Resources</h3>
          <h1>Unitiledblog</h1>
          <p>qwertyuiorjhr erjkgtrb;kjrtkjer rkjw;jkbq;ejk</p>
             <form class="d-flex ">
              <input class="form-control me-2 rounded" type="email" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline" type="submit">Subscribe</button>
          </form>
              <p>qwertyuiorjhr erjkgtrb;kjrtkjer rkjw;jkbq;ejk</p>

      </div>

  </div>
  </div>
</div>


